.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  padding-top: 48px;
}
.header-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  color: #244d4d;
  text-decoration: none;
}
.header-list {
  display: flex;
  gap: 50px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger-menu {
  display: flex;
  gap: 30px;
}
.header-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #161616;
  text-decoration: none;
}
.burger-menu > button {
  display: block;
  background: transparent;
  border: none;
  width: 24px;
  height: 24px;
}
.furniture {
  padding-top: 26px;
}
.box-furniture-inner {
  max-width: 650px;
  margin: 0 auto;
}
.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 56px;
  color: #fff;
  padding-top: 101px;
  padding-bottom: 20px;
}
.furniture-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #fff;
  padding-bottom: 35px;
}
.box-furniture {
  display: flex;
}
.box-furniture-right {
  width: 100%;
  background-color: #154444;
}

.furniture-button {
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #154444;
  width: 172px;
  height: 52px;
}
.payments {
  padding-top: 140px;
}
.payments-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  color: #244d4d;
  text-align: center;
}
.payments-list {
  display: flex;
  padding-top: 40px;
  padding-bottom: 140px;
  justify-content: space-between;
}
.about {
  margin-top: 140px;
}
.about-box {
  display: flex;
  justify-content: space-between;
}
.about-left {
  background-color: #dee4e2;
}
.about-img {
  position: relative;
  top: -26px;
  left: -35px;
}
.about-right {
  max-width: 436px;
}
.about-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: #244d4d;
}
.about-text {
  padding-top: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #444;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
}
.about-list-item {
  display: flex;
  align-items: flex-start;
  gap: 42px;
}
.about-list-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #244d4d;
}
.about-list-text {
  margin-top: 14px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #383738;
  width: 306px;
}
.bestsellers {
  padding-top: 140px;
}
.bestsellers-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 162%;
  color: #242424;
}
.bestsellers-box {
  display: flex;
  align-items: flex-end;
}
.bestsellers-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
  color: #383738;
  max-width: 730px;
  padding-top: 20px;
}
.slide-box {
  display: flex;
  margin-left: auto;
  gap: 16px;
}
.slide-button {
  display: flex;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
}

.futures-list {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}
.futures-list-item {
  box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
}
.futures-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 135%;
  color: #242424;
  padding-bottom: 20px;
}
.futures-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
}
.futures-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 129%;
  color: #154444;
}
.futures-button-recommendation {
  padding-top: 30px;
  background-color: transparent;
  border: none;
  padding-bottom: 20px;
}
.futures-item-left {
  display: flex;
  flex-direction: column;
  height: 79px;
  justify-content: space-between;
}
.futures-item-right {
  margin-left: auto;
}
.futures-button {
  display: block;
  margin: 0 auto;
  color: #fff;
  background-color: #244d4d;
  width: 78px;
  height: 32px;
  border: none;
  margin-bottom: 27px;
}

.all-furniture {
  padding-top: 140px;
}
.all-furniture-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #242424;
  text-align: center;
}
.all-furniture-list {
  display: flex;
  justify-content: center;
  gap: 101px;
  margin-top: 20px;
}
.all-furniture-item-green {
}
.all-furniture-item-btn-gr {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 112%;
  color: #154444;
  border: none;
  background: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.all-furniture-item-btn-gr::after{
    content: "";
    display: block;
    width: 57px;
height: 2px;
background-color: #154444;
}
.all-furniture-item-btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 112%;
  color: #919090;
  border: none;
  background: transparent;
}
.all-furniture-box {
  display: flex;
 gap: 136px;
  padding-top: 120px;
  align-items: center;
}

.all-furniture-list-room {
  display: flex;
  flex-wrap: wrap;
  row-gap: 33px;
  column-gap: 30px;
}
.all-furniture-item-room {
  text-align: center;
  border: 1.5px solid #d9dce5;
  width: 222px;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-room {
     display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.room-icon {
  display: block;
  max-width: 24px;
}
.room-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 131%;
  color: #808080;
  margin-top: 14px;
}
.all-furniture-item-room-green {
  background-color: #154444;
}
.room-title-green {
  color: #fff;
}

.reviews{
    padding-top: 140px;
}
.reviews-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviews-box-left{
    position: relative;
}
.reviews-img{
    position: relative;
    left: 105px;
    z-index: 2;
}
.reviews-box-left::after{
    content: "";
    display: block;
    width: 95%;
    height: 95%;
     background-color: #244D4D;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
}
.reviews-box-right{
max-width: 535px;
}
.reviews-title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 32px;
line-height: 150%;
color: #242424;
max-width: 450px;
}
.reviews-text{

    font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 135%;
color: #383738;
padding-top: 20px;

}
.reviewer{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 40px;
}
.reviewer-img{
    width: 16px;
}
.reviewer-text{
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 107%;
color: #000;
}







.mailing {
  margin-top: 140px;
  background-color: #f4f6f6;
}
.mailing-title {
    padding-top: 68px;
  max-width: 500px;
  margin: 0 auto;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  color: #222;
}
.mailing-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #222;
  padding-top: 20px;
  max-width: 400px;
  margin: 0 auto;
}
.mailing-box{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 56px;
    max-width: 471px;
    margin: 0 auto;
}
.mail{
width: 471px;
height: 67px;
border: none;
padding-left: 45px;
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 137%;
color: #bababa;
}

.btn-mail{
     background: transparent;
    background-color: #305f64;
    border: none;
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 137%;
color: #fff;
width: 125px;
height: 52px;
position: absolute;
align-items: center;
right: 20px;
}
.footer{
    margin-top: 140px;
    background-color: #305f64;
}
.footer-box{
    padding-top: 100px;
    display: flex;
    gap: 157px;
}
.footer-title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 24px;
color: #fff;
}
.footer-text{
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 144%;
color: #fff;
padding-top: 24px;
width: 250px;
}
.footer-social-title{
    padding-top: 40px;
    font-family: var(--second-family);
font-weight: 700;
font-size: 20px;
line-height: 130%;
color: #fff;
}
.footer-list-media{
    display: flex;
    gap: 15px;
    padding-top: 21px;
}
.footer-box-right{
    display: flex;
    gap: 108px;
}

.footer-item-right{
    margin-bottom: 16px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 128%;
color: #fff;
max-width: 240px;
}
.footer-item-right>a{
    text-decoration: none;
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
color: #fff;
}
.footer-item-title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 20px;
line-height: 130%;
color: #fff;
}
.footer-item-right-form{
max-width: 253px;
position: relative;
}
.footer-right-input{
    display: block;
width: 100%;
padding-top: 14px;
padding-bottom: 13px;
padding-left: 22px;
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #859395;
box-sizing: border-box;
}
.footer-right-btn{
    position: absolute;
    top: 9px;
    right: 12px;
    border: none;
    background: transparent;
}









.copyright{
    margin-top: 40px;
    border: 1px solid #407980;
}
.copyright-text{
    padding-top: 21px;
    padding-bottom: 21px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
color: #fff;
text-align: center;
}